<h1>Bienvenue sur la communauté Supernana !</h1>
<p class="text-center">Rejoignez une chatroom et exprimez-vous !</p>
<div class= "s-container">
  <% @chat_rooms.each do |chat_room| %>
    <div class="doc-container">
      <h3><%= chat_room.name %></h3>

      <%= link_to chat_room_path(chat_room) do %>
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </div>
  <% end %>
</div>
