// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i,900,900i&display=swap");

// Bold and violet
$s-font: "Source Sans Pro", "Helvetica", "sans-serif";
$s-font-size: 1.2em;
$s-font-size-big: 1.8em;
$s-font-weight: 700;
$s-font-weight-m: 400;
$s-font-weight-b: 900;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
