.phone-number > .form-group > div {
  display: flex;
}

.phone-number > .form-group > div > p {
  display: block;
  white-space: nowrap;
  padding-right: 10px;
  padding-top: 7px;
}


.form-control {
  border-right: 2px solid $rose;
  border-bottom: 2px solid $rose;
  border-left: 2px solid $vert;
  border-top: 2px solid $vert;
}

.form-control:hover {
  background-color: $vert;
}

h1 {
  font-size: 1.8em;
  text-align: center;
}
