.s-container {
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.button-page {
  background-color: $vert;
}

#bm {
  width: 180px;
  height: 180px;
  position: fixed;
  top: 8px;
  z-index: -1;
}

// ––––––––––––––––– MEDIA QUERIES ––––––––––––––––––

@media (min-width: 768px) and (max-width: 1024px) {
  .s-container {
    max-width: 80vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 481px) and (max-width: 767px) {

  .s-container {
    max-width: 80vw;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {

  .s-container {
    max-width: 80vw;
    grid-template-columns: 1fr;
  }
}
