<div class="s-container">
  <%= link_to "Désactiver l'alarme", root_path %>

  <p>Pas de panique...</p>
  <p>Les secours ont été contactés</p>
  <p>Vous êtes géolocalisée à la rue de Lausanne 29, 1000 Lausanne</p> <!-- géolocalisation à faire -->

  <%= audio_tag "alarm.mp3", autoplay: true %>
</div>
