<div class="green-box-container">
  <div class="s-container">

    <div class="item-container">
      <div>
        <%= link_to new_user_registration_path do %>
          <div id="bm-stop-button"></div>
        <% end %>
      </div>
    </div>

    <div class="item-container">
      <div class="alert-messages-container">
        <div class="alert-messages">
          <i class="fas fa-meteor"></i>
          <p>Pas de panique...</p>
        </div>

        <div class="alert-messages">
          <i class="fas fa-meteor"></i>
          <div>
            <p>Pensez-y, avec un compte utilisateur nous pouvons aussi: </p>
            <ul>
              <li>envoyer un message à un contact d'urgence prédéfini</li>
              <li>vous géolocaliser auprès de tous les utilisateurs de notre app!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= audio_tag "alarm.wav", autoplay: true %>
  </div>
</div>
