<div class="s-container">
  <div class="item-container">
    <% if user_signed_in? %>
      <%= link_to "alarme", "#", class: 'alarm-button', id: "location", data: {path: alerts_url} %>
    <% else %>
      <%= link_to "alarme", stop_alert_path, class: 'alarm-button', id: "location" %>
    <% end %>
    <div id="bm"></div>
    <p><%= link_to ("<i class='far fa-bell'></i>").html_safe, alerts_path %></p>
  </div>
</div>


