<div class="s-container">
  <div class="item-container">

    <% if user_signed_in? %>
      <%= link_to "#", id: "location", data: {path: alerts_url} do %>
        <div id="bm"></div>
      <% end %>
    <% else %>
      <%= link_to stop_alert_path, id: "location" do %>
        <div id="bm"></div>
      <% end %>
    <% end %>

    <%= link_to ("Voir les alertes du jour").html_safe, alerts_path, class: 'day-alerts' %>
    </div>
</div>
