<div class="s-container">

  <div class="resources-container">

  <%= link_to chat_room_path(@chat_rooms.first.id) do %>
      <div class="resources-text card-chat">
        <i class="fas fa-arrow-right"></i>
        <h3>Discuter</h3>
      </div>
  <% end %>

  <%= link_to documents_path do %>
      <div class="resources-text card-infos">
        <i class="fas fa-arrow-right"></i>
        <h3>S'informer</h3>
      </div>
  <% end %>

  <%= link_to informations_path do %>
      <div class="resources-text card-agir">
        <i class="fas fa-arrow-right"></i>
        <h3>Agir</h3>
      </div>
  <% end %>

  </div>
</div>

