
<div class="green-box-container">
  <div class="s-container">
    <div class="item-container">
      <div>
        <%= link_to alert_path(@alert), method: :patch do %>
          <div id="bm-stop-button"></div>
        <% end %>
      </div>
    </div>

    <div class="item-container">
      <div class="messages-container">

        <div class="messages">
          <i class="fas fa-meteor"></i>
          <p>Pas de panique...</p>
        </div>

      <% unless current_user.contacts.first == nil %>
        <div class="messages">
          <i class="fas fa-meteor"></i>
            <p>Nous avons envoyé un message à <%= @contact.first_name %></p>
        </div>
      <% end %>

        <div class="messages">
          <i class="fas fa-meteor"></i>
          <p>Vous êtes géolocalisée près de <%= @alert.address %></p>
        </div>

      </div>
    </div>

    <%= audio_tag "alarm.wav", autoplay: true %>
  </div>
</div>>
