
<div class="green-box-container">
  <div class="s-container">
    <div class="item-container">
      <div>
        <%= link_to alert_path(@alert), method: :patch do %>
          <div id="bm-stop-button"></div>
        <% end %>
      </div>
    </div>

    <div class="item-container">
      <div class="messages-container">

        <div class="messages">
          <i class="fab fa-pagelines"></i>
          <p>Pas de panique...</p>
        </div>

      <% unless current_user.contacts.first == nil %>
        <div class="messages">
          <i class="fab fa-telegram-plane"></i>
          <p>Nous avons envoyé un message à <strong><%= @contact.first_name %></strong></p>
        </div>
      <% end %>

        <div class="messages">
          <i class="fas fa-map-marker-alt"></i>
          <div>
            <p>Votre géolocalisation:</p>
            <p><%= @alert.address %></p>
          </div>
        </div>

      </div>
    </div>

    <%= audio_tag "alarm.wav", autoplay: true %>
  </div>
</div>
