  <div class="green-bg">
    <div class= "s-container">
        <div class="item-container">
          <h1>Tous les documents</h1>
        </div>
    </div>
  </div>

  <div class= "s-container">
      <% @documents.each do |document| %>
        <div class="doc-container">
          <h3><%= document.title %></h3>
          <p> Un article de <%= document.author %></p>

          <%= link_to document_path(document) do %>
            <i class="fas fa-arrow-right"></i>
          <% end %>
        </div>
      <% end %>

      <%#= link_to 'retour', resources_path %>
</div>
