<div class="fix-background illustration-docs"></div>

<div class="white-background">
  <div class= "s-container">
    <h1 class="info-title">S'informer</h1>
      <% @documents.each do |document| %>
        <div class="doc-container">
          <h3><%= document.title %></h3>
          <p> Un article de <%= document.author %></p>

          <%= link_to document_path(document) do %>
            <i class="fas fa-arrow-right"></i>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
