<h1>Tous les documents</h1>
<% @documents.each do |document| %>
  <%= link_to document_path(document) do %>
    <h3><%= document.title %></h3>
  <% end %>
    <p> Un article de <%= document.author %></p>
<% end %>
<%= link_to 'retour', resources_path %>
