
<div class="form-container">

  <div class="green-bg">
    <div class= "s-container">
        <div class="item-container">
          <h1>Les alertes du jour</h1>
        </div>
    </div>
  </div>

  <div class="item-container">
    <% if @alerts.size == 0 %>
    <div class="ouf">
      <p>Ouf! Pas d'alerte pour le moment</p>
    </div>
    <% end %>
    <div
      id="map"
      data-markers= "<%= @markers.to_json %>"
      data-mapbox-api-key= "<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
