<h3>Les alerts d'aujourd'hui</h3>
<ol>
  <% @alerts.each do |alert| %>
    <li> <%= link_to "Alerte crée par #{alert.user.first_name} #{alert.user.last_name}", alert_path(alert)  %></li>
  <% end %>
</ol>

<p><%= link_to "Retour", user_path(current_user) %></p>
