.alert {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;
  font-weight: 700;
}

.alert-info {
  border: 2px solid $violet;
  color: $violet;
}

.alert-warning {
  border: 2px solid $rose;
  color: $rose;
}
