.s-button {
  display: block;
  background-color: $violet;
  padding: 8px 20px;
  border: none;
  border-bottom: 6px solid $vert;
  border-right: 6px solid $rose;
  color: $white;
  font-family: $s-font;
  font-size: $s-font-size;
  font-weight: s-font-weight;
  text-align: center;
  transition: 0.2s;
}

.s-button:hover {
  border-bottom: 5px solid $vert;
  border-right: 5px solid $violet;
  transition: 0.2s;
  background-color: $rose;
  text-decoration: none;
  color: $white;
}

.s-button:active {
  border-bottom: 4px solid $violet;
  border-right: 4px solid $white;
}

.s-button:focus {
  outline:0;
}
