.messages {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: $violet;
  background-color: #ffffff;
  padding: 20px;
  border: 3px solid $violet;
  border-top: none;
  border-bottom-width: 0;
  overflow: scroll;
  display: block;
  height: 60vh;
}

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: $vert;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px 20px 10px 15px;
}

#create-message .new_chat_message {
  display: flex;
  flex-direction: row;
}

#create-message .new_chat_message .s-button {
  margin: 0 0 15px 0;
}

#create-message .new_chat_message .chat_message_content {
  flex-grow: 1;
}

.message-content p {
  margin-bottom: 0;
}


.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  margin-bottom: 20px;
}
.message_content {
  margin-bottom: 0;
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 16px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
.chat-header {
  background-color: $violet;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
    letter-spacing: 1px;
    line-height: 150%;
  }
}

.chat-date {
  font-size: 12px;
  letter-spacing: 1px;
  padding-left: 30px;
}

.inline-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
