.mapboxgl-popup {
  max-width: 150px;
  padding: 20px;
}

.mapboxgl-popup p {
  padding-top: 20px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


#map {
  width: 70vw;
  height: 70vh;
}

.mapboxgl-control-container > .mapboxgl-ctrl-top-left {

}

// .mapbox-directions-component {
//   display: none;
// }


// ––––––––––––––––– MEDIA QUERIES ––––––––––––––––––

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 481px) and (max-width: 767px) {


}

@media (max-width: 480px) {

#map {
  margin-top: -30px;
  width: 100vw;
  height: 50vh;
}

.mapboxgl-control-container > .mapboxgl-ctrl-top-left {
  position: fixed;
  top: 422px;
}
}
