.messages {
  display: flex !important;
  padding: 10px !important;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.messages p {
  margin-bottom: 0;
}

.messages i {
  font-size: 2em;
  color: $vert;
  padding: 5px;
  margin-right: 20px;
}

.messages-container {
  margin-top: -50px;
}
