.profil-infos {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.profil-infos p {
  margin: 0;
  font-family: $s-font;
  color: $violet;
  text-align: center;
}


.profil-infos p:nth-child(-n+2) {
  font-size: $s-font-size-big;
  font-weight: $s-font-weight-b;
  margin-top: -15px;
}

.settings {
  margin-top: 18px;
  font-size: 1.2em;
  color: $rose;
  text-align: center;
  background-color: white;
  padding: 6px;
  border-radius: 50%;
  position: absolute;
  top: 90px;
}

.settings:hover {
  background-color: $rose;
  color: white;
  text-decoration: none;
}

.info-container {
  max-width: 200px;
  text-align: center;
}

.info-container p {
  margin-bottom: 20px;
}

.profile-list {
  list-style: none;
  text-align: left;
  padding: 0px;
  padding-top: 4px;
  border-top: 1px solid $rose;
  display: flex;
  justify-content: space-between;
}

i {
  color: $rose;
}
