<div class="form-container">

  <div class="green-bg">
    <div class= "s-container">
        <div class="item-container">
          <h1>Bonjour <%= @resource.email %>!</h1>
        </div>
    </div>
  </div>

  <div class="item-container">
    <p>Nous vous contactons pour vous informer que votre mot de passe a été modifié.</p>
  </div>

</div>
