<div class="form-container">

  <div class="green-bg">
    <div class= "s-container">
        <div class="item-container">
          <h1>Bonjour <%= @resource.email %>!</h1>
        </div>
    </div>
  </div>

  <div class="item-container">
    <p>Quelqu'un a demandé un lien pour changer votre mot de passe. Vous pouvez le faire via le lien ci-dessous.</p>

    <p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token), class: 's-button' %></p>

    <p>Si vous ne l'avez pas demandé, veuillez ignorer cet e-mail.</p>
    <p>Votre mot de passe ne changera pas tant que vous n'aurez pas accédé au lien ci-dessus et n'en aurez pas créé un nouveau.</p>

  </div>

</div>
